langgraph>=0.2.128
langchain-core
langchain-openai
openai-whisper
ffmpeg-python
torch
langchain_tavily
fastapi
python-multipart
python-jose[cryptography]
passlib
bcrypt==4.0.1
sqlalchemy
uvicorn
prometheus-client
python-dotenv
